<%- include('partials/header') %>

    <main class="site-main container">
        <section class="site-content">
            <h1 class="page-title">Johannes K. Kalma</h1>
            <cite>Met de K. van Kornelis</cite><br><br>
            <img src="https://johanneskalma.nl/wp-content/uploads/2022/12/johannes_mudmasters.jpg" width="200"
                alt="Johannes K. Kalma">
            <p>Ik woon samen met Antine, ben vader van Hanna en Jitze.</p>
            <p>Sinds 2014 werk ik bij Aswatson - Techlab Europe als devOps / gitOps Tech engineer
                en hou me bezig met event driven Microservices, denk dan aan Kafka, Kubernetes, Daocloud, mysql, Git,
                Java, mongodb en linux.
                Daarnaast ben ik intern consultant processautomation - Redwood RunMyJobs.</p>
            <p>In mijn vrije tijd ga ik naar de Gym, stap op mijn (Race)fiets, bind een plank onder mijn voeten om te
                Snowboarden.
                Maar ben ook heel goed in bank hangen met een afstandsbediening.</p>
            <p>Nog wat Keywords: Linux, Raspberry Pi, NodeJs Kinderen opvoeden.</p>
        </section>
    </main>

<%- include('partials/footer') %>