<%- include('partials/header') %>

<script type="text/markdown">
Johannes Kalma.md
```text
      _   ____   _    _   ____   _   _  _   _  ______   _____ 
     | | / __ \ | |  | | / __ \ | \ | || \ | ||  ____| / ____|
     | || |  | || |__| |/ /  \ \|  \| ||  \| || |__    | (___  
 _   | || |  | ||  __  || |__| || . ` || . ` ||  __|    \___ \ 
| |__| || |__| || |  | ||  __  || |\  || |\  || |____   ____) |
 \____/  \____/ |_|  |_||_|  |_||_| \_||_| \_||______| |_____/ 
 _  __   ____   _____   _   _  ______  _       _____   _____ 
| |/ /  / __ \ |  __ \ | \ | ||  ____|| |     |_   _| / ____|
| ' /  | |  | || |__) ||  \| || |__   | |       | |  | (___  
|  <   | |  | ||  _  / | . ` ||  __|  | |       | |   \___ \ 
| . \  | |__| || | \ \ | |\  || |____ | |____  _| |_  ____) |
|_|\_\  \____/ |_|  \_\|_| \_||______||______||_____||_____/
 _  __   ____    _       __  __    ____   
| |/ /  / __ \  | |     |  \/  |  / __ \  
| ' /  / /  \ \ | |     | \  / | / /  \ \ 
|  <   | |__| | | |     | |\/| | | |__| | 
| . \  |  __  | | |____ | |  | | |  __  | 
|_|\_\ |_|  |_| |______||_|  |_| |_|  |_|
```
=============================================================================
           JOHANNES KORNELIS KALMA  (according to gemini)
               DevOps Tech Lead / Java Tech Team Lead
=============================================================================

CONTACT & LOCATIE
-----------------------------------------------------------------------------
Locatie:     Zeist, Nederland
Websites:    johanneskalma.nl
             b5t.nl
             knilluz.buurnet.nl
GitHub:      github.com/johannesKalma


🚀 PROFESSIONEEL PROFIEL
-----------------------------------------------------------------------------
Veelzijdige en resultaatgerichte DevOps Technical Lead en Teamleider met een 
sterke, diepgaande achtergrond in database engineering, cloud-native 
architecturen en enterprise data-integratie. Ervaren in het aansturen en 
coachen van internationale software engineering teams (cross-functional, 
on- en offshore in Nederland en India). 

Vanuit een solide fundament in enterprise database-omgevingen (Oracle PL/SQL) 
doorgegroeid naar het ontwerpen en moderniseren van infrastructuren naar 
schaalbare, container-gebaseerde microservices. Sterke focus op softwarekwaliteit, 
datastroom-optimalisatie en het stroomlijnen van complexe deployment-pijplijnen.


🛠 MANAGEMENT & TECHNISCHE VAARDIGHEDEN
-----------------------------------------------------------------------------
* Leiderschap:         Teamleiding, cross-cultureel management (onshore/offshore
                       India), coaching, agile/scrum delivery management
* Data & Databases:    Oracle SQL & PL/SQL (expert basis), MongoDB (native driver)
* Cloud & DevOps:      Kubernetes, Docker, DaoCloud enterprise cloud platform,
                       Microservices architectuur, CI/CD, containerisatie
* Talen & Messaging:   Java, Apache Kafka (Consumer/Producer integraties),
                       Node.js (ES Modules), JavaScript, Express, EJS, Python
* Automation:          Redwood RunMyJobs administratie & job scheduling
* Infrastructuur:      Linux VPS beheer, Nginx reverse proxying, PM2 process 
                       management, SSL (Certbot)
* Web Architectuur:    Custom CMS-migraties, Markdown-gebaseerde content 
                       routing, API-ontwikkeling, code-minimalisatie

💼 RELEVANTE WERKERVARING
-----------------------------------------------------------------------------
DevOps Technical Lead / Teamleider Java Development
Group IT ASWatson Europe
* Operationeel en hiërarchisch verantwoordelijk voor een internationaal team 
  van Nederlandse en Indiase Java-ontwikkelaars.
* Coachen, motiveren en richting geven aan het engineering-team om de 
  softwarekwaliteit en delivery-snelheid te verhogen binnen enterprise-projecten.
* Technische lead in het ontwerpen, uitrollen en beheren van schaalbare 
  microservices binnen een enterprise cloud-omgeving (Docker, Kubernetes 
  en DaoCloud platform integraties).
* Inzet van diepgaande database- en data-integratiekennis (waaronder legacy 
  datastromen en back-end logica) bij het ontwerpen van moderne architecturen.
* Beheer en inrichting van kritieke enterprise automatiseringsplatformen, 
  specifiek als Redwood RunMyJobs administrator.
* Ontwikkeling en architectuur van custom integraties, waaronder het bouwen 
  van Java-factories met Kafka Consumer en Producer wrappers om enterprise 
  datastromen te stroomlijnen.

Full Stack Developer / Systeembeheerder (Eigen projecten)
B5t / Buurnet
* Architectuur en beheer van een eigen Linux VPS-omgeving met Nginx en PM2 
  voor het hosten van meer dan 10 active Node.js applicaties en microservices.
* Het systematisch migreren van legacy WordPress-omgevingen naar een 
  razendsnelle, custom stack op basis van Node.js, Express, EJS en Markdown.
* Ontwikkeling en beheer van diverse webprojecten en platformen, waaronder:
  - johanneskalma.nl (Persoonlijke site & tech showcase)
  - b5t.nl / u97.nl / knilluz.buurnet.nl (Centrale hubs en projectomgevingen)
  - voetreflextherapie-zeist.nl (Praktijksite)
  - peterlucker-arts.com (Kunstenaarsportfolio)
  - FreeTV (Data-management applicatie voor media-streams)


📂 SELECTIE VAN OPEN SOURCE PROJECTEN (GitHub)
-----------------------------------------------------------------------------
* KafkaClientFactory: 
  Een Java Factory-omgeving met herbruikbare wrappers voor Kafka Consumers 
  en Producers.
* RunMyJobsKafkaClientFactoryJobParameterMapper: 
  Custom parameter-mapping tooling om Redwood RunMyJobs naadloos te laten 
  communiceren met Kafka datastromen.
* Journaling: 
  Een lichtgewicht, micro-blogging journaling applicatie gebouwd op 
  Node.js en MongoDB.
* solarPanelRotation: 
  Een Python-gebaseerd hardware/schoolproject geschreven om de optimale 
  rotatie van zonnepanelen te berekenen.


💡 INTERESSES & PERSOONLIJKHEID
-----------------------------------------------------------------------------
* Duurzaamheid & Smart Home: Actief bezig met het finetunen van thuisenergie 
  (warmtepompen, SolarEdge omvormers, 3-fasen balancering) en het bouwen 
  van een lokaal smart home netwerk via Home Assistant (Matter/Thread).
* Natuur & Sport: Windsurf-fanaticus en liefhebber van de Waddeneilanden 
  (met name Terschelling).
* Kenmerkend: Pragmatisch, nuchtere humor, verbindende teamleider. Geïnspireerd 
  door The Hitchhiker's Guide to the Galaxy ("42"). Luistert bij voorkeur naar 
  Kink tijdens het coderen.
=============================================================================

</script>

    <main class="site-main container">
        <section class="site-content">
            <h1 class="page-title">Johannes K. Kalma</h1>
            <cite>Wit the K. of Kornelis</cite><br><br>
            <img src="https://johanneskalma.nl/wp-content/uploads/2022/12/johannes_mudmasters.jpg" width="200"
                alt="Johannes K. Kalma">
            <p>I live together with <a href="https://antinebreimer.nl" target="_blank">Antine</a>. I'm father of 2 very smart children <a href="https://hannakalma.nl" target="_blank">Hanna</a> and <a href="https://jitzekalma.nl" target="_blank">Jitze</a>.</p>
            <p>Since 2014 I'm working for <a href="https://www.werkenbijaswatson.nl/" target="_blank">AS Watson - Techlab Europe</a>. My current role is devOps/gitOps tech lead of a group Dutch and Indian highly skilled software engineers.
                Workfield is event driven Microservices, Kafka, Kubernetes, Daocloud, mysql, Git,
                Java, mongodb and linux.<br>
                Besides that I'm also consulting business processautomation (Redwood RunMyJobs)</p>
            <p>In my spare time I do some workouts in the Gym, like some cycling, or tie some board under my feet for some snowboarding.
                But I'm also highly qualified in the sport of melting into the couch with a remote and a Netflix marathon.</p>
            <p><em>For the extra hidden features, press <code style="background-color: #2f2f2f; color: #32ff4d; padding: 2px 6px; border-radius: 4px; font-size: 90%;">CTRL+U</code> to inspect</em></p>
        </section>
    </main>

<%- include('partials/footer') %>